In [1]:
import pandas as pd
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

In [9]:
# Read in price data for Equity
df = pd.read_csv("equitydata.csv", parse_dates=True)
df.set_index('Date', inplace=True)
df.head()

In [15]:
# Read in price data for FICC
df2 = pd.read_csv('ficcdata.csv', parse_dates=True)
df2.head()

  Unnamed: 0     AGG     TLT    SHY     IEI    HYG   BKLN     LQD
0       date     NaN     NaN    NaN     NaN    NaN    NaN     NaN
1    2/11/15  110.87  129.95  84.61  123.09  91.00  24.07  121.00
2    2/12/15  110.89  129.52  84.64  123.23  90.99  24.10  121.31
3    2/13/15  110.76  128.19  84.64  123.09  91.12  24.02  120.83
4    2/17/15  110.31  126.26  84.60  122.64  91.06  24.12  120.27

In [10]:
# Calculate expected returns and sample covariance
mu = expected_returns.mean_historical_return(df)
S = risk_models.sample_cov(df)

In [13]:
# Optimise for maximal Sharpe ratio
ef = EfficientFrontier(mu, S)
raw_weights = ef.max_sharpe()
cleaned_weights = ef.clean_weights()
ef.save_weights_to_file("weights.csv")  # saves to file
print(cleaned_weights)
ef.portfolio_performance(verbose=True)

{'VOOV': 0.0, 'EZU': 0.0, 'IWM': 0.0, 'SMH': 0.28961, 'IBB': 0.0, 'XLU': 0.35317, 'VOOG': 0.0, 'SPY': 0.0, 'QQQ': 0.35722}
Expected annual return: 15.6%
Annual volatility: 14.1%
Sharpe Ratio: 0.97

(0.15632238591315972, 0.14061605214841388, 0.9694653194307974)